language: php

php:
  - 5.5
  - 5.4
  - 5.3
  - 5.2
  - hhvm

before_install:
  - sudo apt-get update > /dev/null

install:
  # install php packages required for running a web server from drush on php 5.3
  - sudo apt-get install -y --force-yes make php5-dev 

before_script: pecl install Fileinfo

script: make
