
/.idea/.name
/.idea/codeStyleSettings.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/php-SAI.iml
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/php.xml